/* .custom-table .ant-table {
    border: none !important;
    width: 100%;
  }
  
  .custom-table .ant-table-tbody > tr > td {
    border-bottom: none !important; 
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .workspace-name {
    font-size: 16px;
    font-weight: 500;
    flex-grow: 1; 
  }
  
  .align-right {
    text-align: right !important; 
  }
  
  .delete-button {
    margin-left: auto !important; 
    width: 50px !important;
  } 

.archived-row td {
    background-color: rgba(255, 0, 0, 0.1) !important; 
    color: red !important; 
    font-weight: bold;
}

*/